.col-md-4
	.author-box.clearfix
		.col-md-4
			img(src="/img/ball.jpg")
		.col-md-8
			section.author-intro
				p 生命不息，coding不止~
			section
				p 邮箱:1159235149@qq.com
				p 
					a(href="http://weibo.com/3031796581/profile?topnav=1&wvr=6&is_all=1",target="_blank") 新浪微博
	h3 推荐文章
	ul.list-group
		each item in reArticles
			li.list-group-item
				span.badge 荐
				a(href="/article/#{item._id}") #{item.title}
	h3 最新文章
	ul.list-group
		each item in newArticles
			li.list-group-item
				span.badge 新
				a(href="/article/#{item._id}") #{item.title}