extends ../layout

block content
	.container
		.row
			.col-md-2
				if user.headImg
					img#headImg(src="#{user.headImg}" style="width: 90px;height: 120px;margin: 10px auto;")
				else 
					img#headImg(src="/img/unkonw.png" style="width: 90px;height: 120px;margin: 10px auto;")
				button.btn.btn-primary.btn-fileUpload(type="button")
					<input type="file" name="fileToUpload" id="fileToUpload" class="fileupload" />
					p 换个头像
				.info 用户名: sxc
			.col-md-10
				h2 我的评论
				each item in comments
					small #{item.content}
					p 在文章 
						a(href="/article/#{item.article._id}") #{item.article.title} 
						= "中评论"
	script(src="/js/my.js")